<?xml version="1.0"?>
<configuration>

  

  
  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sync.Properties.Settings.DotNetNukeCMSConnectionString"
            connectionString="Data Source=NABACAR-A;Initial Catalog=DotNetNukeCMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
